<div class="container mt-4">
    <h2 class="text-center">User Movie Bookings</h2>
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th scope="col">Movie Title</th>
          <th scope="col">Show Date</th>
          <th scope="col">Show Time</th>
          <th scope="col">Screen No</th>
          <th scope="col">Seats Booked</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of userBookings">
          <td>{{ booking.movieDetails.name }}</td>
          <td>{{ booking.showDetails?.startDate }}</td>
          <td *ngIf="booking.showDetails">{{ booking.showDetails.startTime | timeFormat }}</td>
          <td>{{ booking.showDetails?.screenNo }}</td>
          <td>{{booking.seatsBooked}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  