<div class="container">
    <div class="d-flex justify-content-center my-3" >
        <!-- <input type="date" [(ngModel)]="selectedDate" class="form-control bg-dark text-white"> -->
        <date-carousel style="width: 40%;" (on-day-pick)="onDayPick($event)"  ></date-carousel>
    </div>
    <div class="row row-col-1 row-col-md-4 g-4 py-5">
        <ng-container *ngFor="let movie of movies; let i= index">
            <!-- <div style="width:100px; height:100px;" class="bg-danger m-2">
        </div> -->
            <div class="col">
                <div class="card h-100" [routerLink]="['/user','movie',movie.id]" style="width: 18rem;">

                    <!-- -------------------Image--------------- -->
                    <!-- <div style="overflow: hidden;height: 250px">
                        <img  style="object-fit: contain;" height="250px"
                            src="https://via.placeholder.com/400x300"
                            alt="Card image cap">
                    </div> -->
                    <div><img src="https://via.placeholder.com/600x600" alt="...." class="card-img-top" ></div>
                    <!----------------- Card- Body --------------->
                    <div class="card-body">
                        <h5 class="card-title">{{movie.name}}</h5>
                        <p class="card-text"> {{movie.director}} </p>
                        <p class="card-text">{{movie.description}}</p>
                    </div>

                </div>
            </div>

        </ng-container>
    </div>

</div>