<div class="container"></div>
<div class="row">
    <div class="d-flex justify-content-between mt-3 mb-3">
        <div><button routerLink="/add-movie" class="btn btn-dark">Add-Movies</button></div>
        <div>
            <input type="date" [(ngModel)]="selectedDate" class="form-control bg-dark text-white">
        </div>
    </div>
</div>
<div class="row">

    <!-- <div style="width:100px; height:100px;" class="bg-danger m-2">
        </div> -->
    <ng-container *ngIf="movieWithShows.length>0 else noRecordTemplate">
        <div *ngFor="let movieWithShow of movieWithShows; let i= index" class="d-flex flex-row justify-content-between
                    mb-3 border border-2 p-4 rounded-5">
            <!-- movie image and Description -->
            <div class="d-flex flex-row">
                <!-- image -->
                <div style="height: 200px; width: 200px;" >
                    <img style="object-fit: contain;" height="200px" src="https://via.placeholder.com/200x200"
                        alt="Card image cap" class="border rounded-3">
                </div>
                <!-- Details -->
                <div class="d-flex flex-column flex-start ms-2 " >
                    <h5>Movie Name: {{ movieWithShow.movie.name }}</h5>
                    <p><strong>Director</strong>: {{ movieWithShow.movie.director }}</p>
                    <p><strong>Description</strong>: {{ movieWithShow.movie.description }}</p>
                </div>

            </div>
            <!-- Show Lists -->
             
            <div class="d-flex flex-column ms-3">
                <h4>Shows</h4>
                <div class="show-timings">
                    <div class="show-box" *ngFor="let show of movieWithShow.shows ">
                        {{show.startTime| timeFormat }}
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #noRecordTemplate>
        <h3> No Movies On This Date.... </h3>
    </ng-template>
</div>
